
<h1><%= @user.name %></h1>

<h1>What would you like to do?</h1>
<%= link_to "Create a Playlist", new_playlist_path %> <br>
<%= link_to "View Playlists", @playlists %><br>
<%= link_to "Add Songs to Playlists" %><br>
<%= link_to "Edit Profile", edit_user_path%><br>
<%= link_to "Search Artists", artists_path  %><br>

<%= link_to "Delete Profile" %>
