
<<<<<<< HEAD

=======
>>>>>>> 8632082be3327a80912ef4bb7ec714b85c85342c
<div style="width: 60%; margin: auto" class="jumbotron jumbotron-fluid">
<h1 style="text-align: center;">Create New Playlist</h1>
  <%= form_for @playlist  do |f|  %>
  <%= f.label :name %>
  <br>
  <%= f.text_field :name %><br>
  <br>
  <%= f.text_field :user_id %>
  <br>
  <br>
  <%= f.submit "Create Playlist", :class => 'btn btn-primary'  %>
  <% end %>
</div>

<% @songs.each do |song| %>
<h1><%= link_to song.title, user_playlists_path(@user.id) %></h1>
<% end %>
